
<div class="jumbotron abc">
      <div class="container ">
        <h2 style="text-align: center;">Travel Assit Management System - Admin</h2>
        
      </div>
    </div>

<div class="w3-row-padding" >

<div class="w3-col w3-margin-right w3-hover-shadow box1 w3-GhostWhite" style="width:293px">
  <div class="hh ih-item circle colored effect1">
    <a href="#">
      <div class="spinner"></div>
      <div class="img"><%= link_to(image_tag("image4.jpg", :alt => "Sorry, could nor load image!"),index_2_drivers_path) %></div>
        <div class="info">
        <div class="info-back">
            <!-- <h3>Click the button below!</h3> -->
          
          </div>
        </div></a></div>
          <h3 style="text-align: center;">Manage Drivers</h3>
          <!-- <p>Read projects/journals authored by our users.</p> -->
         
          <!-- <%= link_to "Drivers",index_2_drivers_path, class:"col-sm-offset-4 col-sm-4 w3-btn w3-blue w3-hover-green "%> -->
          
         
</div>
<div class="w3-col w3-margin-right w3-hover-shadow box1 w3-GhostWhite" style="width:293px">
  <div class="hh ih-item circle colored effect1">
    <a href="#">
      <div class="spinner"></div>
      <div class="img"><%= link_to(image_tag("image2.jpg", :alt => "Sorry, could nor load image!"),fares_path) %></div>
        <div class="info">
        <div class="info-back">
            <!-- <h3>Click the button below!</h3> -->
          
          </div>
        </div></a></div>
          <h3 style="text-align: center;">Manage Fares</h3>
          <!-- <p>Read projects/journals authored by our users.</p> -->
          <!-- <%= link_to "Fares",fares_path, class:"col-sm-offset-4 col-sm-4 w3-btn w3-blue w3-hover-green"%> -->
          
         
</div>
<div class="w3-col w3-margin-right w3-hover-shadow box1 w3-GhostWhite" style="width:293px">
  <div class="hh ih-item circle colored effect1">
    <a href="#">
      <div class="spinner"></div>
      <div class="img"><%= link_to(image_tag("image3.jpg", :alt => "Sorry, could nor load image!"),services_path)%></div>
        <div class="info">
        <div class="info-back">
            <!-- <h3>Click the button below!</h3> -->
          
          </div>
        </div></a></div>
          <h3 style="text-align: center;">Manage Services</h3>
          <!-- <p>Read projects/journals authored by our users.</p> -->
          <!-- <%= link_to "Services",services_path, class:"col-sm-offset-4 col-sm-4 w3-btn w3-blue w3-hover-green"%> -->
          
         
</div>
<div class="w3-col w3-margin-right w3-hover-shadow box1 w3-GhostWhite" style="width:293px">
  <div class="hh ih-item circle colored effect1">
    <a href="#">
      <div class="spinner"></div>
      <div class="img"><%= link_to(image_tag("image5.jpg", :alt => "Sorry, could nor load image!"),feedbacks_path) %></div>
        <div class="info">
        <div class="info-back">
            <!-- <h3>Click the button below!</h3> -->
          
          </div>
        </div></a></div>
          <h3 style="text-align: center;">Manage Feedbacks</h3>
          <!-- <p>Read projects/journals authored by our users.</p> -->
          <!-- <%= link_to "Feedbacks",feedbacks_path, class:"col-sm-offset-4 col-sm-4 w3-btn w3-blue w3-hover-green"%> -->
          
         
</div>
<div class="row">

<!-- 
          <%= link_to "View Drivers",drivers_path, class:"text-center col-md-12 w3-btn w3-blue w3-hover-green", style:"width:200px;text-align:center"%>
          
         
          <%= link_to "View Services",services_path, class:"text-center col-md-12 w3-btn w3-blue w3-hover-green", style:"width:200px;text-align:center"%>


          

         <%= link_to "View Fares",fares_path, class:"text-center col-md-12 w3-btn w3-blue w3-hover-green", style:"width:200px;text-align:center"%>
         <%= link_to "View Feedback",feedbacks_path, class:"text-center col-md-12 w3-btn w3-blue w3-hover-green", style:"width:200px;text-align:center"%> -->
</div>







