<%# add navigation links to this file %>
<li><%= link_to 'Home', root_path,{:class => "glyphicon glyphicon-home",:style => "color: white;"}%></li>



    <!-- <li><%= link_to 'Users', users_path , {:class => "glyphicon glyphicon-user",:style => "color: white;"} %></li> -->
    <li><%= link_to 'Drivers', index_2_drivers_path , {:class => "glyphicon glyphicon-road",:style => "color: white;"} %></li>
    <li><%= link_to 'Fares', fares_path , {:class => "glyphicon glyphicon-road",:style => "color: white;"} %></li>
    <li><%= link_to 'Services', services_path , {:class => "glyphicon glyphicon-road",:style => "color: white;"} %></li>
	<li><%= link_to 'Feedbacks', feedbacks_path , {:class => "glyphicon glyphicon-road",:style => "color: white;"} %></li>
    <li><%= link_to 'Driver_Requests', index_1_drivers_path , {:class => "glyphicon glyphicon-road",:style => "color: white;"} %></li>

